<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/index.js"></script>
</head>
<body>
    <div class="container">
        <div class="container">
            <img src="/img/logo.png" alt="Logo de la página">
            <h1>Próximamente</h1>
            <p>Estamos trabajando duro para lanzar nuestro sitio web. ¡Vuelve pronto!</p>
            <div id="contador"></div>
          </div>
    </div>
  </body>
</html>